body {
  padding: 0px 10px;
}

#main-content {
  margin-top: 10px;
}

h1 {
  border-bottom: 2px solid #333;
  font-size: 28px;
  a {
    height: 17px;
    display: inline-block;
  }
}

.actions {
  margin-top: 10px;
  white-space: nowrap;
  text-align: right;
}

td {
  a:hover {
    text-decoration: none;
  }
  i {
    margin: 0px 5px;
  }
}

td.actions {
  text-align: right;
}

.nav-wrapper {
  margin: 40px -10px 0px -10px;
  background: #fcfcfc;
  border-bottom: 1px solid #efefef;
}

.nav-tabs {
  margin: 0px -10px;
  border-bottom: 0px;
}
