#login {
  width: 300px;
  margin: auto;
  margin-top: 60px;
  input[type="email"], input[type="password"] {
    width: 288px;
  }
  input[type="submit"] {
    margin-right: -3px;
  }
}

#login-alerts {
  margin-top: 60px;
}

#account {
  height: 100%;
  color: #aaa;
  margin-top: 10px;
  a {
    color: #777;
  }
}
