// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.member-status {
  text-align: center;
  width: 50px;
}

.expired-member {
  color: red;
}

.current-member {
  color: green;
}

.pending-member {
  color: orange;
}

.notes {
  text-align: justify;
  padding-bottom: 10px;
}
