<table class="table table-striped table-bordered">

  <col />
  <col />
  <col width="25%" />
  <col width="25%" />
  <col />
  <col width="40%" />
  <col />
  <col />

  <thead>
    <tr>
      <th></th>
      <th>No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Notes</th>
      <th>Joined</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render members %>
  </body>
</table>
